// colors are pulled off the ../_preboot.scss
$color-2: $a; // white
$color-3: $y; // green
$color-4: $b; // background color
$color-5: $d; // lines 
// fonts 
$primary-font: 'Source Sans Pro', sans-serif;